.header
  %p.header__message グループを作成しました

.container
  .side
    .side__header
      %p.side__header__name test-user
      =link_to "#", class: "side__header__btn" do
        = fa_icon 'edit'
      =link_to "#", class: "side__header__btn" do
        = fa_icon 'cog'
    .side__list
      = render 'messages/group'
  
  .main
    .main__header
      %h2.main__header__group test-group
      .member__list
        %p.member__list__title Member :
        %ul.member__list__title__name
          %li hoge
      = link_to "Edit", '#', class: "main__header__edit-btn"
    
    .main__message
      = render 'messages/text'
    
    .main__footer
