.container
  = render 'side_bar'

  .main
    = render 'list'

    .messages
      = render partial: 'message', collection: @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__image
          = f.label :image, class: 'form__image__label' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'